<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Resource groups for <%= @game.name %></h1>
    <%= render LinkButtonComponent.new text: 'New group', href: new_game_resource_group_path(@game) %>
  </div>

  <div id="resources" class="min-w-full">
    <%= render @resource_groups %>
  </div>
</div>
