<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New group</h1>

  <%= render "form", game: @game, resource_group: @resource_group %>

  <%= render LinkButtonComponent.new text: 'Back to groups', href: game_resource_groups_path(@game) %>
</div>
