<%= turbo_frame_tag @room_resource do %>
  <%= render "shared/card" do %>
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @room_resource.resource.name %></h5>
    <%= render "form", room_resource: @room_resource %>
  <% end %>
<% end %>
