<%= turbo_frame_tag "room_#{@room.id}_room_resources" do %>
  <h1>Resources</h1>
  <% @room_resources_grouped.each do |type, groups| %>
    <h2 class="font-bold text-2xl"><%= type %></h2>
    <% groups.each do |group_name, room_resources| %>
      <h3 class="font-bold text-xl"><%= group_name %></h3>
      <div class="flex gap-2 flex-wrap">
        <%= render room_resources %>
      </div>
    <% end %>
  <% end %>
<% end %>
