<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing die</h1>

  <%= render "form", die: @die, game: nil %>

  <%= render LinkButtonComponent.new text: "Show this die", href: @die %>
  <%= render LinkButtonComponent.new text: "Back to dice", href: game_dice_path(@die.game) %>
</div>
