<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Dice for <%= @game.name %></h1>
    <%= render LinkButtonComponent.new text: 'Back to games', href: games_path %>
    
    <% if can? :manage, @game %>
      <%= render LinkButtonComponent.new text: 'New die', href: new_game_die_path(@game) %>
    <% end %>
    
  </div>

  <div id="dice" class="min-w-full">
    <%= render @dice %>
  </div>
</div>
