<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Dice for <%= @game.name %></h1>
    <%= render "shared/link_button", text: 'Back to games', path: games_path %>
    
    <% if @can_create_die %>
      <%= render "shared/link_button", text: 'New die', path: new_game_die_path(@game) %>
    <% end %>
    
  </div>

  <div id="dice" class="min-w-full">
    <%= render @dice %>
  </div>
</div>
