<%= turbo_frame_tag "read-resource-#{resource.id}" do %>
  <span class="inline-block bg-gray-100 text-gray-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">
    <%= resource.resource.name %>: <%= resource.ammount %>
  </span>
<% end %>
