<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1>Playing <%= @room.game.name %></h1>

<% @dice.each do |die| %>
  <div class="border-2 border-slate-500">
    <h2><%= die.name %></h2>
    <div class="flex gap-2">
      <% @roll_options.each do |number| %>
        <%= button_to number, roll_dice_path(@room, die, number), method: :post, class: "btn" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @roll_results %>
<h2>You Rolled...</h2>
  <% @roll_results.each do |result| %>
    <p><%= result.face.name %></p>
  <% end %>
<% end %>
