<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New game</h1>

  <%= render "form", game: @game %>

  <%= render "shared/link_button", text: 'Back to games', path: games_path %>
</div>
