<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing resource</h1>

  <%= render "form", resource: @resource, game: nil, resource_group_options: @resource_group_options %>

  <%= render "shared/link_button", text: "Show this resource", path: @resource %>
  <%= render "shared/link_button", text: "Back to resources", path: game_resources_path(@resource.game) %>
</div>
