<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Resources for <%= @game.name %></h1>
    <%= render "shared/link_button", text: 'New resource', path: new_game_resource_path(@game) %>
  </div>

  <div id="resources" class="min-w-full">
    <%= render @resources %>
  </div>
</div>
