<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New resource</h1>

  <%= render "form", game: @game, resource: @resource, resource_group_options: @resource_group_options %>

  <%= render LinkButtonComponent.new text: 'Back to resources', href: game_resources_path(@game) %>
</div>
