<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @resource %>

    <% if can? :manage, @resource %>
      <%= render "shared/link_button", text: 'Edit this resource', path: edit_resource_path(@resource) %>
      <div class="inline-block ml-2">
        <%= render "shared/delete_button", text: 'Destroy this resource', path: resource_path(@resource) %>
      </div>
    <% end %>
    <%= render "shared/link_button", text: 'Back to resources', path: game_resources_path(@resource.game) %>
  </div>
</div>
