<div id="<%= dom_id room %>">
  <p class="my-5">
    <%= room.name %>
  </p>

  <div class="flex flex-wrap">
    <%= render "shared/link_button", text: "Show this room", path: room %>
  </div>
  <hr class="mt-6">
</div>
