<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing face</h1>

  <%= render "form", face: @face, die: nil %>

  <%= link_to "Show this face", @face, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to faces", die_faces_path(@face.die), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
