<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Faces for <%= @die.name %></h1>
    <%= render LinkButtonComponent.new text: 'Back to dice', href: game_dice_path(@die.game) %>
    
    <% if can? :manage, @die %>
      <%= render LinkButtonComponent.new text: 'New face', href: new_die_face_path(@die) %>
    <% end %>
    
  </div>

  <div id="faces" class="min-w-full">
    <%= render @faces %>
  </div>
</div>
