<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New face</h1>

  <%= render "form", face: @face, die: @die %>

  <%= render "shared/link_button", text: 'Back to faces', path: die_faces_path(@die) %>
</div>
