<% flash.each do |flash_type, message| %>
  <div 
    class="py-2 px-3 mb-5 font-medium rounded-lg inline-block fade flash-<%= flash_type %>"
    data-controller="fade"
    data-action="animationend->fade#remove"
  >
    <%= message %>
  </div>
<% end %>
