<nav class="border-b-2 border-slate-900 p-2">
    <% if current_user %>
        <%= render Link.new text: 'Logout', url: destroy_user_session_path, data: { turbo_method: :delete } %>
    <% else %>
        <%= render Link.new text: 'Login', url: new_user_session_path %>
    <% end %>
    <%= render Link.new text: 'Games', url: games_path %>
</nav>
