<nav class="border-b-2 border-slate-900 p-2">
    <% if current_user %>
        <%= link_to "Logout", destroy_user_session_path, class: "link", data: { turbo_method: :delete } %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "link" %>
    <% end %>
    <%= link_to "Games", games_path, class: "link" %>
</nav>
